

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.get {
    background-color: #F4F4F4;

    &__wrapper {
        display: flex;
        flex-direction: column;
        
    }

    &__wrapper-card {
        display: flex;
    }

    &__card-incredibly {
        padding-top: 35px;
    }

    &__card-experimental {
        padding-top: 35px;
    }

    &__img-experimental {
        padding-left: 14px;
    }

    &__card-web {
        padding-top: 35px;
    }

    &__img-web {
        padding-left: 14px;
    }

    &__wrapper-content {
        padding-left: 23px;
        max-width: 415px;
        margin-right: 50px;
    }

    &__wrapper-title {
        line-height: 21px;
        color: #323232;

    }

    &__wrapper-incredibly {
        padding-left: 44px;
    }

    &__wrapper-experimental {
        padding-left: 60px;
    }

    &__wrapper-web {
        padding-left: 50px;
        margin-bottom: 72px;
    }


    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #8D81AC;
        padding-left: 21px;
    }

    &__main-title {
        display: none;
    }

    &__wrapper-text {
        padding-top: 17px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        max-width: 405px;
    }

    &__img {
        width: 100%;
        padding-top: 19px;
    }

}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 99px;
}

.pricing {
    background: url("../img/bg-pricing.png");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 83px;
    }

    &__wrapper-cards {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding: 112px 0 125px 0;
        height: 799px;
        align-items: center;
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.11);
        width: 24%;
        align-items: center;
    }

    .item-agency {
        align-self: stretch;
        width: 28%;
        background: rgba(70, 48, 72, 1);
        
    }

    .name-agency {
        background: rgba(0, 0, 0, 0.11);
    }

    .price-agency {
        font-weight: 700;
        font-size: 82px;
        line-height: 90px;
        padding-top: 14px;
        padding-bottom: 16px;
    }

    .content-agency {
        padding-top: 35px;
        padding-bottom: 128px;
    }


    .btn-students {
        margin-bottom: 38px;
    }

    &__item-name {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        padding: 36px 0;
        background: rgba(255, 255, 255, 0.11);
        width: 100%;
    }

    span {
        font-weight: 400;
        font-size: 60px;
        line-height: 90px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
    }

    &__item-price {
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 30px 0 20px 0;
    }

    &__item-permonth {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 38px;
    }

    &__item-sep {
        width: 60px;
        height: 5px;
        background: #8D81AC;
        margin: 0 auto;
    }

    &__item-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 30px;
    }

    .content {
        padding-bottom: 64px;
    }

    .content-students {
        padding-bottom: 78px;
        margin-bottom: 4px;
    }

    &__item-btn {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 15px 38px;
        background: rgba(255, 255, 255, 0.15);
        border: none;
        border-radius: 50px;
        margin-bottom: 36px;
    }
}


@media(max-width:992px) {
    .get {
        background-color: rgba(0, 0, 0, 0.0001);

        &__title {
            display: none;
        }

        &__main-title {
            display: block;
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
            color: #8D81AC;
            text-align: center;
            padding-bottom: 50px;
        }

        &__wrapper-content {
            max-width: none;
        }

        &__wrapper-text {
            max-width: none;
        }

    }

    .container {
        max-width: 788px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 62px;
    }

    .pricing {

        &__wrapper-cards {
            height: 100%;
            gap: 25px;
            flex-wrap: wrap;
        }

        &__card-item {
            width: 257px;
        }
        
        .item-agency {
            width: 299px;
        }

        .item-students {
            align-self: stretch;
        }
    }
    
}

@media(max-width:600px) {
    .get {
        &__wrapper-card {
            flex-direction: column;
            align-items: center;
        }
        
        &__wrapper-text {
            text-align: center;
        }

        &__wrapper-title {
            text-align: center;
            padding-top: 25px;
    }
    
    .container {
        min-width: 340px;
    }
}

.pricing {
    &__wrapper-cards {
        flex-direction: column;
    }

    .item-students {
        align-self: auto;
    }

    .item-agency {
        align-self: auto;
    }
}

}