@mixin flexspace {
    display: flex;
    justify-content: space-between;
}

@mixin btn {
    background: $txt-color;
    border-radius: 40px;
    color: #FFFFFF;
}

@mixin btnhover {
    background: #FFFFFF;
    color: $txt-color;
}

@mixin position{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}