@import 'mixins';
@import 'variables';
@import 'get-section';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

[class*='__container'] {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background: rgb(238, 230, 230);
    max-width: 1220px;
    margin: 0 auto;

    &__container {
        display: flex;
        min-height: 100px;
        align-items: center;
        position: absolute;
        width: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;

        p {
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            padding-left: 17px;
            color: $txt-color;

            &:hover {
                color: #FFFFFF;
            }
        }
    }

    &__menu {
        flex: 1 1 auto;

        ul {
            gap: 48px;
            display: flex;
            justify-content: flex-end;
            padding-right: 38px;

            a {
                color: $txt-color;

                &:hover {
                    color: #FFFFFF;
                }
            }
        }
    }

    &__btn {
        @include btn;
        display: inline-block;
        padding: 10px 35px;
        text-align: center;
        flex: 0 0 auto;

        &:hover {
            @include btnhover
        }
    }

    &__burger-icon {
        display: none;
    }
}

.forkapp {
    background: url('../img/head.png') center no-repeat;
    background-size: cover;

    h1 {
        padding-top: 183px;
        font-size: 82px;
        line-height: 82px;
        text-align: center;
    }

    &__txt {
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: $txt-color;
        padding: 20px 0;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        text-transform: uppercase;
        color: #848E97;
        text-align: center;
        padding-bottom: 450px;
    }

    &__btn {
        @include btn;
        font-size: 21px;
        line-height: 22px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        padding: 18px 61px;
        position: absolute;
        border-style: none;
        margin-top: -30px;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;

        &:hover {
            border: 2px solid $txt-color;
            @include btnhover
        }
    }

    &__bottom-txt {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #848E97;
        position: absolute;
        margin-top: 50px;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
    }
}

.revolutionary {
    h1 {
        font-size: 54px;
        line-height: 54px;
        text-align: center;
        text-transform: uppercase;
        color: #635C73;
        padding: 130px 0 35px;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: #323232;
        text-align: center;
        max-width: 860px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    &__btn {
        display: flex;
        margin: 0 auto;
        max-width: 370px;
        padding-bottom: 70px;
    }
}

.people {
    background: url('../img/peoplebg.png') center/cover no-repeat;

    h1 {
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        padding: 108px 0 82px;
    }

    &__card {
        @include flexspace;
        flex-wrap: wrap;
        row-gap: 100px;
    }

    &__card-box {
        display: block;
        max-width: 27%;
        text-align: center;
        align-self: flex-end;

        p {
            padding-top: 15px;
            line-height: 24px;
            color: #FFFFFF;
            font-family: 'Lato', sans-serif;
            font-style: italic;
        }
    }

    &__txt {
        margin: 0 auto;
        max-width: 887px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #A291A5;
        padding: 115px 0 10px;

        &::after {
            content: '';
            max-width: 780px;
            height: 2px;
            background: #645766;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}

@media(max-width:992px) {
    .header {
        &__container {
            background: #27262A;
            min-height: 118px;
        }

        &__menu ul {
            @include position;
            gap: 28px;
            padding: 0 0 14px;
            bottom: 0;
        }
    }

    .forkapp {
        & h1 {
            font-size: 72px;
            line-height: 72px;
        }

        &__txt {
            font-size: 24px;
            line-height: 24px;
        }

        &__text {
            font-size: 14px;
            line-height: 14px;
        }
    }

    .revolutionary {
        h1 {
            font-size: 42px;
            line-height: 42px;
        }
    }

    .people {
        & h1 {
            font-size: 42px;
            line-height: 44px;
            padding: 85px 0;
        }

        &__card {
            row-gap: 50px;
        }

        &__card-box {
            max-width: 45%;
        }

        &__txt {
            padding-top: 57px;
            max-width: 700px;

            &::after {
                max-width: 555px;
            }
        }
    }
}


@media(max-width:479px) {
    .header {
        &__container {
            min-height: 103px;
            @include flexspace
        }

        &__logo p {
            display: none;
        }

        &__btn {
            padding: 10px 22px;
            @include position;
        }

        &__menu ul {
            flex-direction: column;
            gap: 0;
            padding: 0;
            background: #333333;
            bottom: 200px;
            transition: .5s;
        }

        &__menu ul.active {
            transition: .5s;
            bottom: -380px;
        }

        &__menu ul a {
            position: relative;
            color: #FFFFFF;
            display: block;
            padding: 33px 45px;
            border-bottom: 3px solid #3B3B3B;
            font-weight: 400;
            font-size: 26px;
            line-height: 26px;
        }

        &__menu ul a::before {
            content: '';
            width: 8px;
            height: 53px;
            background: #8D81AC;
            position: absolute;
            left: 0;
            top: 20px;
            display: none;
        }

        &__menu ul a:focus::before {
            display: block;
        }

        &__menu ul a:focus {
            color: $txt-color;
        }

        &__burger-icon {
            display: block;
            width: 26px;
            height: 21px;
            position: relative;
            border: none;
            background-color: transparent;
        }

        &__burger-icon span,
        &__burger-icon::before,
        &__burger-icon::after {
            content: '';
            right: 0;
            position: absolute;
            width: 100%;
            height: 3px;
            background: #fff;
            transition: .5s;
        }

        &__burger-icon::before {
            top: 0;
            width: 50%;
        }

        &__burger-icon::after {
            bottom: 0;
        }

        &__burger-icon span {
            top: calc(50% - 2px);
        }
    }

    .open.header__burger-icon span {
        transform: rotate(-45deg);
    }

    .open.header__burger-icon::after {
        transform: rotate(45deg);
        bottom: 9px;
    }

    .open.header__burger-icon::before {
        width: 0;
    }

    .forkapp__btn {
        padding: 11px 12px;
        font-size: 18px;
        line-height: 20px;
        margin-top: -23px;
    }

    .revolutionary {
        h1 {
            font-size: 26px;
            line-height: 28px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
        }

        &__btn {
            flex-direction: column;

            div {
                display: flex;
                justify-content: center;

                &:last-child {
                    padding-top: 20px;
                }
            }
        }
    }

    .people {
        & h1 {
            font-size: 36px;
            line-height: 48px;
            padding: 55px 0;
        }

        &__card {
            justify-content: space-around;
            row-gap: 40px;
        }

        &__card-box {
            max-width: 95%;
        }

        &__txt {
            max-width: 250px;
            padding-top: 30px;

            &::after {
                max-width: 245px;
            }
        }
    }
}